# Ignore source release files
/dist/*
/*.egg-info/*
/build/*

# Ignore notebook checkpoints
*.ipynb_checkpoints*

# Ignore cache
*__pycache__/*
*.cache*

# Ignore compiled files
*.pyc

# Ignore Mac folder profile files
*DS_Store*

# Ignore coverage file
.coverage

# Ignore testing related files
.pytest_cache/*

# Ignore temp file for linter output
_lint.txt

# Ignore all files generated during testing
*/tests/test_files/*

# Ignore any data files or files generated in the documentation
/tutorials/**/*.pdf
/tutorials/**/*.json
/tutorials/**/data/*
/examples/**/*.pdf
/examples/**/*.json
/examples/**/data/*
/motivations/**/*.pdf
/motivations/**/*.json
/motivations/**/data/*

# Ignore documentation files
doc/_build/*
doc/auto_examples/*
doc/auto_tutorials/*
doc/auto_motivations/*
doc/generated/*
