# Ignore notebook checkpoints & log
.ipynb_checkpoints/*
.nbgrader.log

# Ignore cache
*__pycache__/*

# Ignore compiled files
*.pyc

# Ignore Mac folder profile files
*DS_Store*

# Ignore temp file for linter output
_lint.txt
