# Requirements for building the documentation site
sphinx
sphinx-gallery
sphinx_bootstrap_theme
numpydoc
sphinx-copybutton

# Optional fooof dependencies that are required for documentation
matplotlib
tqdm

# Requirements for running the examples
mne

# Requirements for running the motivations
neurodsp >= 2.0.0