# Requirements for building the documentation site
sphinx
sphinx-gallery
sphinx_bootstrap_theme
sphinx-copybutton
numpydoc

# Requirements for running the tutorials / examples / motivations
neurodsp >= 2.0.0
mne > 1.2